:root {
    --bg1: #2E4053;
    --bg2: #283747;
    --text: #F1C40F;
    --text2: #fff;
    --shadow: #34495E;
}
body {
    margin: 0;
    background: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top20 {
    flex-basis: 30%;
    color: var(--text2);
}
.result {
    display: flex;
}
.time {
	flex-basis: 30%;
	border: 1px solid var(--shadow);
	padding: .5em;
}
.speed {
	flex-basis: 30%;
	border: 1px solid var(--shadow);
	padding: .5em;
}
.frame {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: 50vh;
    background: var(--bg2);
    border-radius: 14px;
    padding: 1em;
    font-size: 1em;
    color: var(--shadow);
}
table {
    width: 100%;
    color: var(--text);
}
.quoteDisplay {
    color: var(--text);
    padding: 1em;
    box-shadow:  1px 1px 1px 1px var(--shadow);
    border-radius: 14px;
    margin-top: 1em;
}
.input {
    width: 100%;
    display: flex;
    justify-content: center;
}
input {
    margin-top: 2em;
    padding: 1em;
    border-radius: 14px;
    background: var(--shadow);
    border: none;
    color: #fff;
    width: 100%;
}
.odometer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
    text-decoration: underline;
}
